<script type="text/javascript">
  //$(document).ready(function() 
   // { 
   //     $("#playersTable").tablesorter(); 
   // } 
 // ); 
$(document).ready(function() { 
    $("table") .tablesorter({
              widthFixed: true, widgets: ['zebra'],
              sortList: [[6,1]] 
    }) 
    .tablesorterPager({container: $("#pager"), size:25 }); 
}); 
</script>

<h1>MLB Hitters</h1>

<% if @players.nil? %>

   <i> No Players found </i>

<% else %>

Total: <%= @players.count %>

<table id="playersTable" class="tablesorter" cellspacing="1">
<thead> 
  <tr>
    <th>League</th>
    <th>Division</th>
    <th>Team</th>
    <th>Surname</th>
    <th>Given name</th>
    <th>Position</th>
    <th>AVG</th>
    <th>HR</th>
    <th>RBI</th>
    <th>SB</th>
    <th>OPS</th>
  </tr>
</thead> 

<tbody>
<% @players.each do |player| %>
  <tr>
    <td><%= player.league.league_name %></td>
    <td><%= player.division.division_name %></td>
    <td><%= player.team.team_name %></td>
    <td><%= player.surname %></td>
    <td><%= player.given_name %></td>
    <td><%= player.position %></td>
    <% sh = @stats_hitters.find{|sh| sh.player_id ==  player.id} %>
    <td><%= "%.3f" % sh.avg %></td>
    <td><%= sh.hr %></td>
    <td><%= sh.rbi %></td>
    <td><%= sh.sb %></td>
    <td><%= "%.4f" % sh.ops %></td>
  </tr>
<% end %>
</tbody>
</table>
<div id="pager" class="pager">
	<form>
		<img src= <%= image_path("first.png") %> class="first"/>
		<img src= <%= image_path("prev.png") %> class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src= <%= image_path("next.png") %> class="next"/>
		<img src= <%= image_path("last.png")  %> class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="25">25</option>
			<option value="15">15</option>
			<option value="35">35</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>

<% end %>
