<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @stats_position.player %>
</p>

<p>
  <b>Team:</b>
  <%= @stats_position.team %>
</p>

<p>
  <b>Season:</b>
  <%= @stats_position.season %>
</p>

<p>
  <b>Games:</b>
  <%= @stats_position.games %>
</p>

<p>
  <b>Games started:</b>
  <%= @stats_position.games_started %>
</p>

<p>
  <b>At bats:</b>
  <%= @stats_position.at_bats %>
</p>

<p>
  <b>Runs:</b>
  <%= @stats_position.runs %>
</p>

<p>
  <b>Hits:</b>
  <%= @stats_position.hits %>
</p>

<p>
  <b>Doubles:</b>
  <%= @stats_position.doubles %>
</p>

<p>
  <b>Triples:</b>
  <%= @stats_position.triples %>
</p>

<p>
  <b>Home runs:</b>
  <%= @stats_position.home_runs %>
</p>

<p>
  <b>Rbi:</b>
  <%= @stats_position.rbi %>
</p>

<p>
  <b>Steals:</b>
  <%= @stats_position.steals %>
</p>

<p>
  <b>Caught stealing:</b>
  <%= @stats_position.caught_stealing %>
</p>

<p>
  <b>Sacrifice hits:</b>
  <%= @stats_position.sacrifice_hits %>
</p>

<p>
  <b>Sacrifice flies:</b>
  <%= @stats_position.sacrifice_flies %>
</p>

<p>
  <b>Fielding Errors:</b>
  <%= @stats_position.fielding_errors %>
</p>

<p>
  <b>Pb:</b>
  <%= @stats_position.pb %>
</p>

<p>
  <b>Walks:</b>
  <%= @stats_position.walks %>
</p>

<p>
  <b>Struck out:</b>
  <%= @stats_position.struck_out %>
</p>

<p>
  <b>Hit by pitch:</b>
  <%= @stats_position.hit_by_pitch %>
</p>


<%= link_to 'Edit', edit_stats_position_path(@stats_position) %> |
<%= link_to 'Back', stats_positions_path %>
